[Desktop Entry]
Type=Application
Version=1.0
Name=Calculator
Exec=sh -c "zonkey ~/.local/share/zonkey/rocks-sambowden-Calculator/app.zonk -a installed"
Terminal=false
